/**
 * opacity.css — утилитарные токены прозрачности
 */

:root {
  --opacity-invisible: 0; /* невидимый */
  --opacity-ghosty: 0.06; /* призрачный */
  --opacity-muted: 0.12; /* приглушенный */
  --opacity-faded: 0.2; /* выцветший */
  --opacity-soft: 0.32; /* мягкий */
  --opacity-tertiary: 0.4; /* третичный */
  --opacity-secondary: 0.6; /* вторичный */
  --opacity-primary: 0.8; /* основной */
  --opacity-strong: 1; /* сильный */
}
